<h1>Cadastrar Artista</h1>
{{ id }}
<div id="nome">
  <label for="txtNome">Nome</label>
  <input type="text" id="txtNome" [(ngModel)]="nome" />
</div>

<div id="cpf">
  <label for="txtCpf">CPF</label>
  <input type="text" id="txtCpf" [(ngModel)]="cpf" />
</div>

<div id="dataNascimento">
  <label for="txtDataNascimento">Data de Nascimento</label>
  <input type="date" id="txtDataNascimento" [(ngModel)]="dataNascimento" />
</div>
<div id="botao">
  <button id="btnCadastrar" (click)="cadastrar()">Cadastrar</button>
</div>
<div>
  <h3 class="erro">
    {{ mensagem }}
  </h3>
</div>
