<h1>Listar Artistas</h1>

<table>
  <tr>
    <th>#</th>
    <th>Nome</th>
    <th>cpf</th>
    <th>Data de Nascimento</th>
    <th>Criado em</th>
    <th>Remover</th>
    <th>Alterar</th>
  </tr>

  <tr *ngFor="let artista of artistas">
    <td>{{ artista.artistaId }}</td>
    <td>{{ artista.nome }}</td>
    <td>{{ artista.cpf }}</td>
    <td>{{ artista.dataNascimento }}</td>
    <td>{{ artista.criadoEm }}</td>
    <td>
      <button (click)="remover(artista.artistaId!)">Remover</button>
    </td>
    <td>
      <a routerLink="/pages/artista/cadastrar/
      {{ artista.artistaId }}"
        >Alterar</a
      >
    </td>
  </tr>
</table>
