<h1>Listar Artistas</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>cpf</th>
    <th>Data de Nascimento</th>
    <th>Criado em</th>
    <th>Remover</th>
    <th>Alterar</th>
  </tr>

  <tr *ngFor="let artista of artistas">
    <td>{{ artista.id }}</td>
    <td>{{ artista.nome }}</td>
    <td>{{ artista.cpf }}</td>
    <td>{{ artista.dataNascimento }}</td>
    <td>{{ artista.criadoEm }}</td>
    <td>
      <button (click)="remover(artista.id!)">Remover</button>
    </td>
    <td>
      <a routerLink="/pages/artista/listar{ artista.id }}">Alterar</a>
    </td>
  </tr>
</table>
